.vscode/
aqua_core/
bin/
build/
map/
virt.*
docs/review
docs/roadmap
__pycache__/


opensbi/*
!opensbi/build/
opensbi/build/*
!opensbi/build/platform/
opensbi/build/platform/*
!opensbi/build/platform/generic/
opensbi/build/platform/generic/*
!opensbi/build/platform/generic/firmware/
opensbi/build/platform/generic/firmware/*
!opensbi/build/platform/generic/firmware/fw_jump.bin